##Credit_Card_Fraud_Detection

# *Importing* the Dependencies

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('creditcard_2023.csv')

In [5]:
# first 5 rows of the dataset
credit_card_data.head()

,id,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-0.260648,-0.469648,2.496266,-0.083724,0.129681,0.732898,0.519014,-0.130006,0.727159,...,-0.110552,0.217606,-0.134794,0.165959,0.126280,-0.434824,-0.081230,-0.151045,17982.10,0
1,1,0.985100,-0.356045,0.558056,-0.429654,0.277140,0.428605,0.406466,-0.133118,0.347452,...,-0.194936,-0.605761,0.079469,-0.577395,0.190090,0.296503,-0.248052,-0.064512,6531.37,0
2,2,-0.260272,-0.949385,1.728538,-0.457986,0.074062,1.419481,0.743511,-0.095576,-0.261297,...,-0.005020,0.702906,0.945045,-1.154666,-0.605564,-0.312895,-0.300258,-0.244718,2513.54,0
3,3,-0.152152,-0.508959,1.746840,-1.090178,0.249486,1.143312,0.518269,-0.065130,-0.205698,...,-0.146927,-0.038212,-0.214048,-1.893131,1.003963,-0.515950,-0.165316,0.048424,5384.44,0
4,4,-0.206820,-0.165280,1.527053,-0.448293,0.106125,0.530549,0.658849,-0.212660,1.049921,...,-0.106984,0.729727,-0.161666,0.312561,-0.414116,1.071126,0.023712,0.419117,14278.97,0

In [6]:
credit_card_data.tail()

,id,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
568625,568625,-0.833437,0.061886,-0.899794,0.904227,-1.002401,0.481454,-0.370393,0.189694,-0.938153,...,0.167503,0.419731,1.288249,-0.900861,0.560661,-0.006018,3.308968,0.081564,4394.16,1
568626,568626,-0.670459,-0.202896,-0.068129,-0.267328,-0.133660,0.237148,-0.016935,-0.147733,0.483894,...,0.031874,0.388161,-0.154257,-0.846452,-0.153443,1.961398,-1.528642,1.704306,4653.40,1
568627,568627,-0.311997,-0.004095,0.137526,-0.035893,-0.042291,0.121098,-0.070958,-0.019997,-0.122048,...,0.140788,0.536523,-0.211100,-0.448909,0.540073,-0.755836,-0.487540,-0.268741,23572.85,1
568628,568628,0.636871,-0.516970,-0.300889,-0.144480,0.131042,-0.294148,0.580568,-0.207723,0.893527,...,-0.060381,-0.195609,-0.175488,-0.554643,-0.099669,-1.434931,-0.159269,-0.076251,10160.83,1
568629,568629,-0.795144,0.433236,-0.649140,0.374732,-0.244976,-0.603493,-0.347613,-0.340814,0.253971,...,0.534853,-0.291514,0.157303,0.931030,-0.349423,-1.090974,-1.575113,0.722936,21493.92,1

In [7]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568630 entries, 0 to 568629
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      568630 non-null  int64
 1   V1      568630 non-null  float64
 2   V2      568630 non-null  float64
 3   V3      568630 non-null  float64
 4   V4      568630 non-null  float64
 5   V5      568630 non-null  float64
 6   V6      568630 non-null  float64
 7   V7      568630 non-null  float64
 8   V8      568630 non-null  float64
 9   V9      568630 non-null  float64
 10  V10     568630 non-null  float64
 11  V11     568630 non-null  float64
 12  V12     568630 non-null  float64
 13  V13     568630 non-null  float64
 14  V14     568630 non-null  float64
 15  V15     568630 non-null  float64
 16  V16     568630 non-null  float64
 17  V17     568630 non-null  float64
 18  V18     568630 non-null  float64
 19  V19     568630 non-null  float64
 20  V20     568630 non-null  float64
 21  V21     568630 non-null  float64
 22  V22     568630 non-null  float64
 23  V23     568630 non-null  float64
 24  V24     568630 non-null  float64
 25  V25     568630 non-null  float64
 26  V26     568630 non-null  float64
 27  V27     568630 non-null  float64
 28  V28     568630 non-null  float64
 29  Amount  568630 non-null  float64
 30  Class   568630 non-null  int64
dtypes: float64(29), int64(2)
memory usage: 134.5 MB

In [8]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

id        0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

Class
0    284315
1    284315
Name: count, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction,


1 --> fraudulent transaction

In [10]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [11]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(284315, 31)

In [12]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean      12026.313506
std        6929.500715
min          50.120000
25%        6034.540000
50%       11996.900000
75%       18040.265000
max       24039.930000
Name: Amount, dtype: float64

In [13]:
fraud.Amount.describe()

count    284315.000000
mean      12057.601763
std        6909.750891
min          50.010000
25%        6074.640000
50%       12062.450000
75%       18033.780000
max       24039.930000
Name: Amount, dtype: float64

In [14]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,id,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,142442.987714,0.505761,-0.491878,0.682095,-0.735981,0.338639,0.435088,0.491234,-0.144294,0.585522,...,-0.179851,-0.10964,-0.014098,-0.010255,0.130107,-0.061847,-0.071052,-0.214002,-0.102024,12026.313506
1,426186.012286,-0.505761,0.491878,-0.682095,0.735981,-0.338639,-0.435088,-0.491234,0.144294,-0.585522,...,0.179851,0.10964,0.014098,0.010255,-0.130107,0.061847,0.071052,0.214002,0.102024,12057.601763

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [15]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [16]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [17]:
new_dataset.head()

,id,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
53691,53691,1.093318,-0.455835,0.765377,-0.649298,0.091775,0.310969,0.305776,-0.174855,0.793670,...,-0.051207,0.453898,-0.210345,-0.553373,0.696712,1.985149,-0.271577,-0.081470,9518.50,0
51583,51583,1.092611,-0.830770,0.391879,-2.170559,0.002075,0.400097,0.246622,-0.174487,0.496510,...,-0.229215,-0.429815,-0.260728,-1.612462,0.793001,0.127089,-0.204114,-0.060973,7376.02,0
223954,223954,1.795665,-0.425306,-0.114754,-0.543036,0.565724,0.360971,0.443611,-0.154635,0.702128,...,-0.243816,-0.851479,0.262560,-0.101794,-0.484838,0.437757,-0.312747,-0.213939,20776.23,0
281204,281204,1.723485,-1.277448,0.460638,-1.489936,-0.351147,0.635543,-0.075172,-0.127173,0.220935,...,-0.052172,0.540219,0.127617,1.024827,-0.887587,-0.276896,-0.176813,-0.093486,3897.12,0
136286,136286,-0.168842,-0.095075,1.919783,-0.491029,0.365722,0.219655,0.692719,-0.158177,0.033547,...,-0.143844,-0.445382,-0.266835,0.617172,0.290470,-1.623420,-0.444451,0.072342,18419.19,0

In [18]:
new_dataset.tail()

,id,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
568625,568625,-0.833437,0.061886,-0.899794,0.904227,-1.002401,0.481454,-0.370393,0.189694,-0.938153,...,0.167503,0.419731,1.288249,-0.900861,0.560661,-0.006018,3.308968,0.081564,4394.16,1
568626,568626,-0.670459,-0.202896,-0.068129,-0.267328,-0.133660,0.237148,-0.016935,-0.147733,0.483894,...,0.031874,0.388161,-0.154257,-0.846452,-0.153443,1.961398,-1.528642,1.704306,4653.40,1
568627,568627,-0.311997,-0.004095,0.137526,-0.035893,-0.042291,0.121098,-0.070958,-0.019997,-0.122048,...,0.140788,0.536523,-0.211100,-0.448909,0.540073,-0.755836,-0.487540,-0.268741,23572.85,1
568628,568628,0.636871,-0.516970,-0.300889,-0.144480,0.131042,-0.294148,0.580568,-0.207723,0.893527,...,-0.060381,-0.195609,-0.175488,-0.554643,-0.099669,-1.434931,-0.159269,-0.076251,10160.83,1
568629,568629,-0.795144,0.433236,-0.649140,0.374732,-0.244976,-0.603493,-0.347613,-0.340814,0.253971,...,0.534853,-0.291514,0.157303,0.931030,-0.349423,-1.090974,-1.575113,0.722936,21493.92,1

In [19]:
new_dataset['Class'].value_counts()

Class
1    284315
0       492
Name: count, dtype: int64

In [20]:
new_dataset.groupby('Class').mean()

,id,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,144097.132114,0.458778,-0.452796,0.707364,-0.761776,0.337069,0.385999,0.492014,-0.148889,0.544541,...,-0.135756,-0.119443,-0.003028,-0.039699,0.086490,-0.067438,-0.038908,-0.208115,-0.045941,12404.954919
1,426186.012286,-0.505761,0.491878,-0.682095,0.735981,-0.338639,-0.435088,-0.491234,0.144294,-0.585522,...,0.179851,0.109640,0.014098,0.010255,-0.130107,0.061847,0.071052,0.214002,0.102024,12057.601763

Splitting the data into Features & Targets

In [21]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [22]:
print(X)

            id        V1        V2        V3        V4        V5        V6  \
53691    53691  1.093318 -0.455835  0.765377 -0.649298  0.091775  0.310969
51583    51583  1.092611 -0.830770  0.391879 -2.170559  0.002075  0.400097
223954  223954  1.795665 -0.425306 -0.114754 -0.543036  0.565724  0.360971
281204  281204  1.723485 -1.277448  0.460638 -1.489936 -0.351147  0.635543
136286  136286 -0.168842 -0.095075  1.919783 -0.491029  0.365722  0.219655
...        ...       ...       ...       ...       ...       ...       ...
568625  568625 -0.833437  0.061886 -0.899794  0.904227 -1.002401  0.481454
568626  568626 -0.670459 -0.202896 -0.068129 -0.267328 -0.133660  0.237148
568627  568627 -0.311997 -0.004095  0.137526 -0.035893 -0.042291  0.121098
568628  568628  0.636871 -0.516970 -0.300889 -0.144480  0.131042 -0.294148
568629  568629 -0.795144  0.433236 -0.649140  0.374732 -0.244976 -0.603493

              V7        V8        V9  ...       V20       V21       V22  \
53691   0.305776 -0.174855  0.793670  ... -0.126254 -0.051207  0.453898
51583   0.246622 -0.174487  0.496510  ... -0.349858 -0.229215 -0.429815
223954  0.443611 -0.154635  0.702128  ... -0.328559 -0.243816 -0.851479
281204 -0.075172 -0.127173  0.220935  ... -0.234412 -0.052172  0.540219
136286  0.692719 -0.158177  0.033547  ... -0.244570 -0.143844 -0.445382
...          ...       ...       ...  ...       ...       ...       ...
568625 -0.370393  0.189694 -0.938153  ... -0.751011  0.167503  0.419731
568626 -0.016935 -0.147733  0.483894  ... -0.550260  0.031874  0.388161
568627 -0.070958 -0.019997 -0.122048  ... -0.076417  0.140788  0.536523
568628  0.580568 -0.207723  0.893527  ...  0.288186 -0.060381 -0.195609
568629 -0.347613 -0.340814  0.253971  ... -0.621378  0.534853 -0.291514

             V23       V24       V25       V26       V27       V28    Amount
53691  -0.210345 -0.553373  0.696712  1.985149 -0.271577 -0.081470   9518.50
51583  -0.260728 -1.612462  0.793001  0.127089 -0.204114 -0.060973   7376.02
223954  0.262560 -0.101794 -0.484838  0.437757 -0.312747 -0.213939  20776.23
281204  0.127617  1.024827 -0.887587 -0.276896 -0.176813 -0.093486   3897.12
136286 -0.266835  0.617172  0.290470 -1.623420 -0.444451  0.072342  18419.19
...          ...       ...       ...       ...       ...       ...       ...
568625  1.288249 -0.900861  0.560661 -0.006018  3.308968  0.081564   4394.16
568626 -0.154257 -0.846452 -0.153443  1.961398 -1.528642  1.704306   4653.40
568627 -0.211100 -0.448909  0.540073 -0.755836 -0.487540 -0.268741  23572.85
568628 -0.175488 -0.554643 -0.099669 -1.434931 -0.159269 -0.076251  10160.83
568629  0.157303  0.931030 -0.349423 -1.090974 -1.575113  0.722936  21493.92

[284807 rows x 30 columns]

In [23]:
print(Y)

53691     0
51583     0
223954    0
281204    0
136286    0
         ..
568625    1
568626    1
568627    1
568628    1
568629    1
Name: Class, Length: 284807, dtype: int64

Split the data into Training data & Testing Data

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [25]:
print(X.shape, X_train.shape, X_test.shape)

(284807, 30) (227845, 30) (56962, 30)

# Model Training

Logistic Regression

In [26]:
model = LogisticRegression()

In [27]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

# Model Evaluation

Accuracy Score

In [28]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [29]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9980951962957274

In [30]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [31]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.998121554720691